.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

.pagecontent {
    margin: 20px 300px;
}

.maintitle {
    background-color: #EEE;
    height: 180px;
    border-bottom: 1px solid #CCC;
    background: linear-gradient(to right, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
    text-align: center;
}

.maintitle div {
    display: inline-block;
    color: #FFF;
    font-size: 46px;
    font-weight: bold;
    line-height: 180px;
}

.maintext {
    margin-bottom: 20px;
}

.button-success,
.button-info,
.button-warning,
.button-error {
    padding: 2px 6px;
    cursor: pointer;
    border: 1px solid #AAA;
    border-radius: 3px;
    font-size: 14px;
}

.button-success:hover,
.button-info:hover,
.button-warning:hover,
.button-error:hover {
    background-color: #78FA89;
    color: #000;
}

.button-success {
    background-color: #CFEAC4;
    color: #2C763E;
}

.button-info {
    background-color: #CFE3ED;
    color: #3A87AD;
}

.button-warning {
    background-color: #FFFFCC;
    color: #8E6621;
}

.button-error {
    background-color: #F2DEDE;
    color: #A94444;
}

.radio-btn-container {
    margin-bottom: 20px;
}

.radio-btn {
    cursor: pointer;
}

.radio-btn-label {

}

@media screen and (max-width: 1200px) {
    .pagecontent {
        margin: 20px 10px;
    }
}